
h1 {
    color: #683B70;
    font-family: Cormorant Garamond;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 3px;
    
    
}

p {
    color: #683B70;
    text-align: justify;
    font-family: Cormorant Garamond;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.9px;
    
}


body {
    background-color: white;
    width: 1024px;
    margin:auto;

}

h5{
    color: #683B70;
    font-family: Cormorant Garamond;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.4px;
    width: 159px;
    height: 40px;
    flex-shrink: 0;
    margin:40px 20px;

}

h6{
    color: #683B70;
    font-family: Cormorant Garamond;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.7px;
    width: 210px;
    height: 21px;
    flex-shrink: 0;
    

}

img {
    width: 92px;
    height: 94px;
    flex-shrink: 0;
    float:left
}

.myname {
    float:left
}

h7{
    color: #683B70;
    font-family: Cormorant Garamond;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;

}

.sources {
    color: #683B70;
    font-family: Cormorant Garamond;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.6px;
}

h1, h2, h3, h4, h5, h6, h7, p {
    margin:0;
    padding:0;
}