/* This is the main CSS style sheet for greece.html, serbia.html, and austria.html pages */

/**********
Body */
body {
  font-family: 'Inria Serif', serif ;
  width: 1440px;
  margin: 0 auto;
}
#greece{
    background-color: #EDF7FC;
    color:#007D7C;
}
#serbia {
    background:#F9FFEC;
    color:rgba(70, 97, 70, 0.87);
}
#austria {
  background-color:#F8F7F7 ;
  color: #51382A; 
} 
.navbar {
  font-family: 'Italiana', serif;
}

/* Navigation Bar general */
.navbar {
  flex-shrink: 0;
  overflow: hidden;
  font-size: 25px;
  width: 1440px;
  height: 42px;
}
.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 7px 36px;
  text-decoration: none;
  }

/*********
Navigation bar Greece */
#greece .navbar {
  background: #007D7C;
}
#greece .navbar a {
  color: #EDF7FC;
}  
#greece .navbar a:hover,
#greece .navbar a.open {
    background: #EDF7FC;
    color:#007D7C;
}

/*********
Navigation bar Serbia */
#serbia .navbar {
background: rgba(70, 97, 70, 0.87);
}
#serbia .navbar a {
color: #F9FFEC;
}  
#serbia .navbar a:hover,
#serbia .navbar a.open {
  background: #F9FFEC;
  color:rgba(70, 97, 70, 0.87);
}

/*********
Navigation bar Austria */
#austria .navbar {
  background: #51382A;
}  
#austria .navbar a {
  color: #F8F7F7; 
}  
#austria .navbar a:hover,
#austria .navbar a.open {
    background: #F8F7F7;
    color:#51382A;
}

/**********
Sections general */
.flex {
  display: flex;
  flex-direction: row;
  align-items: center; 
}
.column {
  display: flex;
  flex-direction: column;
}

/* Overlay text */
h2 {
  padding: 15px;
  font-family: 'Italiana', serif;
}
#churchSerbia  {
  background-color: #F9FFEC;
}
#cavesGreece {
  background-color: #EDF7FC;
}
#cathedralAustria {
  background-color: #F8F7F7;
}
.overlay {
  position: absolute;
  top: -20;
  left: 500;
}
.overlay-section {
  position: relative;
}
.highlight {
  font-style: italic;
  font-weight: bold;
}
#third-section, #first-section .text {
  text-align: justify;
  margin-right: 117px;
}

/**********
 Images  */
#One {
  width: 544px;
  height: 738px;
  margin-left: 117px;
  margin-right: 118px ;  
}
#Two {
  width: 544px;
  height: 738px;
  margin-right: 117px ;  
}
#Three {
  width: 540px;
  height: 748px;
  margin-left: 121px;
  margin-right: 118px;    
}


/********
Section One */
#first-section {
  margin-top: 179px;
  margin-bottom: 208px;
}

/**********
Section Two  */
#second-section {
  margin-bottom: 317px;
}
#second-section .text {
  margin-left: 117px;
  text-align: justify;
}
#second-section .image {
  margin-left: 133px;
}

/*******
Section Three */
#third-section {
  margin-bottom: 158px;
}


/*******
 Footer */
footer {
  width: 1440px;
  height: 110px;
  margin-top: 143px;
}
.sources {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 31px;
  padding-left: 121px;
  font-size: 13px;
}
/* Greece footer */
#greece-footer {
  background-color: #007D7C;
  color: #EDF7FC; 
}
#greece-src {
  color: lightblue;
}
/* Serbia footer */
#serbia-footer {
  background-color:  rgba(70, 97, 70, 0.87) ;
  color: #F9FFEC;
}
#serbia-src {
  color: lightgreen;
}
/* Austria footer */
#austria-footer {
  background-color: #51382A;
  color: #F8F7F7;
}
#austria-src {
  color:rgba(248, 247, 247, 0.54);
}

/*******
 Scroll bar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
/* Greece scroll bar */
#greece::-webkit-scrollbar-thumb {
  background: #007D7C;
}
#greece::-webkit-scrollbar-track {
  background: #EDF7FC;
}
/* Serbia scroll bar */
#serbia::-webkit-scrollbar-thumb {
  background: rgba(70, 97, 70, 0.87);
}
#serbia::-webkit-scrollbar-track {
  background: #F9FFEC;
}
/* Austria scroll bar */
#austria::-webkit-scrollbar-thumb {
  background: #51382A;
}
#austria::-webkit-scrollbar-track {
  background: #F8F7F7;
}


/*********
 Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding-left: 80px;
  padding-right: 80px;
  margin-top: -22px;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  color: #DCDDD7;
}
#videoslide {
  margin-left: 117px;
  margin-right: 118px;
}


/******
 Top button */
#myBtn {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  font-family: 'Italiana', serif;
}

#greece #myBtn {
  background-color: #007D7C;
  color:#EDF7FC
}
#greece #myBtn:hover {
  color: #007D7C;
  background-color: #C2E4F0;
}
#serbia #myBtn {
  background-color: rgba(70, 97, 70, 0.87);
  color:#F8F7F7;
}
#serbia #myBtn:hover {
  color: rgba(70, 97, 70, 0.87);
  background-color: #DCEDB4;
}
#austria #myBtn {
  background-color: #51382A;
  color:#F9FFEC;
}
#austria #myBtn:hover {
  color: #51382A;
  background-color: #DCDDD7;
}

