/* This is the main CSS style sheet for greece.html, serbia.html, and austria.html pages */

/**********
Body */
body {
  font-family: 'Inria Serif', serif ;
  width: 1440px;
  margin: 0 auto;
}
#greece{
    background-color: #EDF7FC;
    color:#007D7C;
}
#serbia {
    background:#F9FFEC;
    color:rgba(70, 97, 70, 0.87);
}
#austria {
  background-color:#F8F7F7 ;
  color: #51382A; 
} 
.navbar {
  font-family: 'Italiana', serif;
}

/* Navigation Bar general */
.navbar {
  flex-shrink: 0;
  overflow: hidden;
  font-size: 25px;
  width: 1440px;
  height: 42px;
}
.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 7px 36px;
  text-decoration: none;
  }

/*********
Navigation bar Greece */
#greece .navbar {
  background: #007D7C;
}
#greece .navbar a {
  color: #EDF7FC;
}  
#greece .navbar a:hover,
#greece .navbar a.open {
    background: #EDF7FC;
    color:#007D7C;
}

/*********
Navigation bar Serbia */
#serbia .navbar {
background: rgba(70, 97, 70, 0.87);
}
#serbia .navbar a {
color: #F9FFEC;
}  
#serbia .navbar a:hover,
#serbia .navbar a.open {
  background: #F9FFEC;
  color:rgba(70, 97, 70, 0.87);
}

/*********
Navigation bar Austria */
#austria .navbar {
  background: #51382A;
}  
#austria .navbar a {
  color: #F8F7F7; 
}  
#austria .navbar a:hover,
#austria .navbar a.open {
    background: #F8F7F7;
    color:#51382A;
}

/**********
Sections general */
.flex {
  display: flex;
  flex-direction: row;
  align-items: center; 
}
.column {
  display: flex;
  flex-direction: column;

}
.h2 {
  font-size: 40px;
  letter-spacing: 2.4px;
  font-style: normal;
  font-weight: 700;
  line-height: normal; 
  margin-left: 794px;
  margin-top: 179px;
  padding: 27px;
  background-color: #EDF7FC;
  
}
.highlight {
  font-style: italic;
  font-weight: bold;
}

/**********
 Images  */
#One {
  width: 544px;
  height: 738px;
  margin-left: 117px;
  margin-right: 133px ;  
}
#Two {
  width: 544px;
  height: 738px;
  margin-right: 102px ;
  
}
#Three {
  width: 536px;
  height: 748px;
  margin-left: 121px;
  margin-right: 133px;    
}


/********
Section One */
#first-section {
  margin-top: 179px;
  margin-bottom: 65px;
}
#first-section .text {
  text-align: justify;
  margin-right: 132px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 500;
}
.overlay-section {
  position: relative;
}
/* added this */
/*********
Section Two */
#second-section {
  margin-bottom: 65px;
  margin-top: 143px;
}
#second-section .text {
  margin-left: 249px;
  text-align: justify;
}
#second-section .image {
  margin-left: 133px;
}

/*******
Section Three */
#third-section {
  margin-bottom: 65px;
  margin-top: 143px;
}
#third-section .text {
  text-align: justify;
  margin-right: 132px;
}


/*******
 Footer */
footer {
  width: 1440px;
  height: 110px;
  margin-top: 143px;
}
.sources {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 31px;
  margin-left: 90px;
  font-size: 13px;
}
/* Greece footer */
#greece-footer {
  background-color: #007D7C;
  color: #EDF7FC; 
}
#greece-src {
  color: lightblue;
}
/* Serbia footer */
#serbia-footer {
  background-color:  rgba(70, 97, 70, 0.87) ;
  color: #F9FFEC;
}
#serbia-src {
  color: lightgreen;
}
/* Austria footer */
#austria-footer {
  background-color: #51382A;
  color: #F8F7F7;
}
#austria-src {
  color:rgba(248, 247, 247, 0.54);
}

/*******
 Scroll bar */
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
/* Greece scroll bar */
#greece::-webkit-scrollbar-thumb {
  background: #007D7C;
}
#greece::-webkit-scrollbar-track {
  background: #EDF7FC;
}
/* Serbia scroll bar */
#serbia::-webkit-scrollbar-thumb {
  background: rgba(70, 97, 70, 0.87);
}
#serbia::-webkit-scrollbar-track {
  background: #F9FFEC;
}
/* Austria scroll bar */
#austria::-webkit-scrollbar-thumb {
  background: #51382A;
}
#austria::-webkit-scrollbar-track {
  background: #F8F7F7;
}

