/**********
Body */
body {
  font-family: 'Inria Serif', serif ;

}
#greece{
    background-color: #EDF7FC;
    color:#007D7C;
}
#serbia {
    background-color: ;
    color: ;

}
h2, 
.navbar {
  font-family: 'Italiana', serif;
}
/*********
Navigation bar */

.navbar{
    width: 1440px;
    height: 42px;
    flex-shrink: 0;
    
    overflow: hidden;
}

#greece .navbar {
  background: #007D7C;
}
.navbar a {
  float: left;
  display: block;
  
  text-align: center;
  padding: 14px 36px;
  text-decoration: none;
}
#greece .navbar a {
  color: #EDF7FC;

}
  
 
#greece .navbar a:hover {
    background: #EDF7FC;
    color:#007D7C ;
  }

#greece .button-clicked {
    background-color:  #EDF7FC; 
  }


/**********
Section One */

.flex{
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

/* Image div */
section {
  margin: 0 auto;
  width: 800px;  
}
#first-section {
  margin-top: 179px;
}
#greece #first-section {
  margin-bottom: 318px;
}
#serbia #first-section {
  margin-bottom: 204px;
}
#greeceOne {
  width: 37.5vw;
  /* width: 37.5%; */
}

/* Text div */
.text {
  margin-left: 133px;

}
.highlight {
  font-style: italic;
  font-weight: bold;
}


/*********
Section Two */


/*******
Section Three */


/* Footer */

