/* This is the main CSS style sheet for ivamiletic.github.io/project-2 site */




/************
Button */

.button{
    width: 69.007px;
    height: 4px;
    background: #EDF7FC;
    margin-top: 41px;
    margin-left: 28px;
}

.button:hover {
    background: #FAF477;
    cursor: pointer;
    
  }


/************
Background Picture */

body {
    width: 1440px;
    height: 1024px;
    flex-shrink: 0;
    background: url("Photos/mainpage2.jpeg"), lightgray 50% / cover no-repeat;;
    
    
}

